<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Strutture_Dati/blob/main/esercizi_insiemi_e_dizionari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESERCIZI INSIEMI

1. creare due insiemi con i tifosi delle nazionali dei mondiali: argentina = {"loto", "milella","gere","dipace"}, brasile = {"loto", "berna","dipace","darienzo"}
2. creare un insieme che contenga tutti i tifosi senza duplicati
3. creare un insieme con i tifosi che tifano entrambe le squadre
4. contare quanti tifosi ci sono
5. visualizzare sono i tifosi che tifano solo l'argentina
6. visualizzare solo i tifosi che tifano solo il brasile
7. aggiungere all'insieme argentina "luca"
8. visualizzare "presente" se l'elemento "armando" è nell'insieme argentina, altrimenti visualizzare "non presente"

In [ ]:
tifosiArgentina = {"loto", "milella","gere","dipace"}
tifosiBrasile = {"loto", "berna","dipace","darienzo"}
print(tifosiArgentina)
print(tifosiBrasile)

{'milella', 'gere', 'loto', 'dipace'}
{'darienzo', 'dipace', 'loto', 'berna'}

In [ ]:
#2
setNONDUPLICATI = tifosiArgentina.symmetric_difference(tifosiBrasile)
print(setNONDUPLICATI)

{'darienzo', 'milella', 'berna', 'gere'}

In [ ]:
#3
set3 = tifosiArgentina.union(tifosiBrasile)
set3

{'berna', 'darienzo', 'dipace', 'gere', 'loto', 'milella'}

In [ ]:
#4
set1 = tifosiArgentina.intersection(tifosiBrasile)
set1

{'dipace', 'loto'}

In [ ]:
#5
len(set3)

In [ ]:
#6 
Argentina = tifosiArgentina.difference(tifosiBrasile)
Argentina

In [ ]:
#7
Brasile = tifosiArgentina.difference(tifosiBrasile)
Brasile

In [ ]:
#8
tifosiArgentina.add("luca")
print(tifosiArgentina)

In [ ]:
#9
if "armando" in tifosiArgentina:
  print("è presente")
else:
  print("non è presente")

In [ ]:
insieme = {1,34,65,344,21,4,134122}
sum(insieme)

#ESERCIZI DIZIONARI
1. creare un dizionario composto dalle seguenti chiavi:(via
zona
città)
2. visualizzare sono le chiavi del dizionario
3. visualizzare le coppie di chiave- valore (senza fare print(dizionario))
4. aggiungere al dizionario la chiave: nome: "pizzeria"
5. visualizzare il valore della chiave città


LISTA DI DIZIONARI
1. creare una lista che contenga tre dizionari. Ognuno di essi deve contenere tre chiavi: nome, cognome ed età
2. visualizzare tutti i nomi
3. visualizzare solo i nomi dei maggiorenni
4. visualizzare il cognome dal nome inserito dall'utente

In [ ]:
DICT = [
    {
     "nome":"Lorenzo",
     "cognome":"Bernasconi",
     "eta":16
    },
    {
      "nome":"Filippo",
     "cognome":"Grassi",
     "eta":17  
    },
    {
       "nome":"RiccarDIO",
     "cognome":"Lotorto",
     "eta":20   
    }
]

In [ ]:
for indice in range(len(DICT)):
  print(DICT[indice]["nome"])

Lorenzo
Filippo
RiccarDIO

In [ ]:
for indice in range(len(DICT)):
  if DICT[indice]["eta"] > 18:
      print(DICT[indice]["nome"])

In [ ]:
nome = input("Insrire un nome ")
for indice in range(len(DICT)):
  if DICT[indice]["nome"] == nome:
    print(DICT[indice]["cognome"])

In [ ]:
Dizionario = {
    "via":"Via Italo Calvino 8",
    "Zona":"Affori",
    "Citta":{1,12,3,4,5,6}
}

In [ ]:
#2
for key in Dizionario.keys():
  print(key)

In [ ]:
#3
for key, value in Dizionario.items():
  print(key, '-', value)

In [ ]:
#4
Dizionario['nome'] = 'pizzeria'
Dizionario

In [ ]:
Dizionario["Citta"]

In [ ]:
Dizionario.get("Citta")

In [ ]:
Dizionario["Citta"]

{1, 3, 4, 5, 6, 12}

In [ ]:
DICTI = {
    "nome":"Giovanni",
    "sesso":"Qualche volta",
    "eta":20
}

In [ ]:
# visualizzare tutti i valori
for key,value in DICTI.items():
  print(key,"-",value)

In [ ]:
#visualizzare la chiave del valore nome
DICTI.get("nome")

In [ ]:
# visualizzare se Giovanni è  o meno maggiorenne
eta = DICTI.get("eta")
if eta > 18:
  print("Giovanni è maggiorenne")
else:
  print("Giovanni non è maggiorenne")

In [ ]:
Dizionarione = [
    {
    "nome":"Giovanni",
    "cognome":"Rossi",
     "numero di telefono":[121321321312,46456456,87978987],
     "genitori": {
          "mamma":"Paola",
          "papa":"Luca"
      }
    },
    {
      "nome":"Pino",
    "cognome":"Abete",
     "numero di telefono":[12099999,561111116,87900000]
    },
    {
      "nome":"Daria",
    "cognome":"Tromba",
     "numero di telefono":[121111111,588888816,800]    
    },
]

In [ ]:
#visualizzare il nome del papa di Giovanni
Dizionarione[0]["genitori"]["papa"]

'Luca'

In [ ]:
#visualizzare tutti i cognomi
for indice in range(len(Dizionarione)):
  print(Dizionarione[indice]["cognome"])

In [ ]:
#visualizzare i telefoni del nome inserito dall'utente
nomeBello = input("inserire un nome   ")
for ind in range(len(Dizionarione)):
  if Dizionarione[ind]["nome"] == nomeBello:
    print(Dizionarione[ind]["numero di telefono"][0])

#LISTE
Gli studenti di una classe si chiamano Luca, Carlo, Maria, Angela, Stefano e Davide e sono alti rispettivamente 1.80, 1.67, 1.75, 1.68, 1.81 e 1.78 m. Inoltre sappiamo che pesano 77, 48, 81, 55, 90 e 70 Kg

1. inserire i dati in strutture dati opportune
2. far inserire all'utente un nome e fornire il peso e l'altezza dello studente inserito
3. visualizzare il nome dello studente più alto
4. visualizzare il nome dello studente più magro
5. far inserire il nome di uno studente e calcolare il suo IMC
6. calcolare il peso medio degli studenti
7. visualizzare il numero di studenti
8. aggiungere lo studente Marco che pesa 76 Kg ed è alto 1.90
9. eliminare le informazioni riguardanti Maria

In [ ]:
Nome = ["Luca","Carlo","Maria","Angela","Stefano","Davide",]
Altezza = [1.80,1.67,1.75,1.68,1.81,1.78]
Peso = [77,48,81,55,90,70]
print(Nome)
print(Altezza)
print(Peso)

['Luca', 'Carlo', 'Maria', 'Angela', 'Stefano', 'Davide']
[1.8, 1.67, 1.75, 1.68, 1.81, 1.78]
[77, 48, 81, 55, 90, 70]

In [ ]:
nome = input("Inserire il nome    ")
for indice in range (len(Nome)):
  if nome == Nome[indice]:
    print(Peso[Nome.index(nome)])
    print(Altezza[Nome.index(nome)])

Inserire il nome    Luca
77
1.8

In [ ]:
maxAltezza = max(Altezza)
print(maxAltezza)
print(Nome[Altezza.index(maxAltezza)])

In [ ]:
MinimoPeso = min(Peso)
print(MinimoPeso)
print(Nome[Peso.index(MinimoPeso)])

In [ ]:
nome = input("Inserire il nome    ")
IMC = Peso[nome] / (Altezza[nome] * Altezza[nome])

Inserire il nome    Luca

TypeError: ignored

In [ ]:
from statistics import mean
mean(Peso)

In [ ]:
len(Nome)

In [ ]:
Nome.append("Marco")
Altezza.append(1.90)
Peso.append(76)
print(Nome)
print(Altezza)
print(Peso)

In [ ]:
Nome.remove("Maria")
Altezza.remove(1.75)
Peso.remove(81)
print(Nome)
print(Altezza)
print(Peso)

['Luca', 'Carlo', 'Angela', 'Stefano', 'Davide']
[1.8, 1.67, 1.68, 1.81, 1.78]
[77, 48, 55, 90, 70]

In [ ]:
# creare due liste, e fare la somma deglie lementio mettendoli in un altra lista usaNDO LA LISTA COMPREHNISON
lista1 = [3,7,56,3,89,12,11,1,6]
lista2 = [4,9,6,78,43,3,22,23,5,70]
listaSomma = [lista1[ind] + lista2[ind] for ind in range(len(lista1))]
listaSomma

In [ ]:
Multipli = [num for num in range(100) if num % 5 == 0]
Multipli

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#creare una lista casuale e vicualizxzare solo i multipli di 5

1. Inizializzare una lista con 8, 18, 27, -8, 51, 40, -9, -76
2. Aggiungere in fondo alla lista i valori 7, 4, 95
3. Aggiungere all'inizio della lista i valori 7, 4, 95
4. Visualizzare il numero di elementi della lista
5. Aggiungere in quarta posizione il valore 100
6. Eliminare il terzultimo elemento della lista
7. Visualizzare il valore massimo, minimo della lista
8. Calcolare la somma degli elementi della lista
9. Calcolare la media degli elementi della lista
10. Rimuovere dalla lista il numero 7
11. Ordinare la lista in ordine decrescente
12. Eliminare dalla lista il numero più alto e il numero più basso
13. Visualizzare gli elementi di posto pari
14. Visualizzare gli elementi di posto dispari
15. Visualizzare i primi 5 elementi 
16. Visualizzare gli ultimi 5 elementi
17. Visualizzare i 5 elementi centrali
18. Rimuovere i duplicati presenti nella lista

In [ ]:
lista = [8,18,27,-8,51,40,-9,-76]
print(lista)

[8, 18, 27, -8, 51, 40, -9, -76]

In [ ]:
lista.extend([7,4,95])
print(lista)

[8, 18, 27, -8, 51, 40, -9, -76, 7, 4, 95]

In [ ]:
lista.insert(0,4)
lista.insert(1,7)
lista.insert(2,95)
print(lista)

In [ ]:
list1 = [4,7,95]
lista = list1 + lista
print(lista)

[4, 7, 95, 4, 7, 95, 8, 18, 27, -8, 51, 40, -9, -76, 7, 4, 95]

In [ ]:
lista[(len(lista)//2)-2:(len(lista)//2)+3]

[8, 18, 27, -8, 51]

In [ ]:
#inserire in una lista 100 numeri casuali compresi fra 10 e 200
import random
listaCasuale = [random.randint(10,200) for x in range(100)]
print(listaCasuale)

[113, 47, 191, 125, 52, 21, 127, 154, 27, 108, 41, 145, 172, 180, 73, 199, 61, 198, 27, 116, 148, 72, 173, 65, 119, 147, 100, 82, 84, 22, 51, 136, 70, 154, 156, 61, 117, 104, 99, 181, 69, 98, 104, 107, 132, 34, 115, 46, 44, 49, 72, 186, 142, 31, 69, 142, 18, 25, 12, 58, 125, 121, 169, 120, 71, 194, 177, 117, 57, 73, 96, 106, 44, 42, 94, 107, 17, 50, 50, 31, 107, 64, 71, 177, 179, 152, 70, 32, 45, 182, 53, 85, 113, 27, 56, 80, 156, 119, 114, 59]

In [ ]:
# visualizzare i multipli di 5 nella lista precedente e aggiungerli ad un altra lista
Multipli = [num for num in listaCasuale if num % 5 == 0]
set(Multipli)

{25, 45, 50, 65, 70, 80, 85, 100, 115, 120, 125, 145, 180}

#PANDAS

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577") 
df

In [ ]:
# 1. Contare il numero di righe
len(df.index)

In [ ]:
# 2 visualizzare le righe dalla 20 alla 30
df[20:31]

In [ ]:
# 3 visualizzare le righe dalla 20 alla 30 ma del film e del genre
df[20:31][["Film","Genre"]]

In [ ]:
#secondo metedo
df.iloc[20:31,0:2]

In [ ]:
# 4 visualizzare solo le righe 10,20,30
df.iloc[[10,20,30]]

In [ ]:
# visualizzare i film che contengono la parola "You" nel titolo
df[df["Film"].str.contains("You", na= False)][["Film"]]

In [ ]:
#visualizzare il film con il maggior ROTTEN TOMATOES %
df[(df["Rotten Tomatoes %"]) == (df["Rotten Tomatoes %"].max())][["Film"]]

In [ ]:
#viusalizzare le commedie prodotte dalla UNIVERSAL 
df[(df["Genre"] == "Comedy") & (df["Lead Studio"] == "Universal")]

In [ ]:
# contare quanti film sono usciti nel 2010
df[df["Year"] == 2010].count()["Film"]

In [ ]:
# contare quanti film hanno AUDIENCE SCORE SUPRIRE alla media
df[(df["Audience score %"]) > (df["Audience score %"].mean())].count()["Genre"]

In [ ]:
#Contare quanti Film ci sono per ogni genere
FilmPerOgniGEnre =df.groupby("Genre").count()[["Film"]].sort_values(by=["Film"],ascending = False)

In [ ]:
#contare quanti fil sono stati profotti per ogni ann
dfFilmAnno = df.groupby("Year").count()[["Film"]].sort_values(by=["Film"],ascending = False).reset_index()
dfFilmAnno

In [ ]:
#visualizzare l'anno con piu film prodotti
dfFilmAnno[(dfFilmAnno["Film"]) == (dfFilmAnno["Film"].max())][["Year"]]

In [ ]:
# visulizzare il totale dell'audience score per ogni genere
df.groupby("Genre").sum()[["Audience score %"]]

In [ ]:
#eleminare le righe con l'audience score maggiore di 50
df.drop(df[df["Audience score %"] > 50].index,inplace= True)
df

In [ ]:
Ragazze = ["Alice","Giorgia","Clara"]
PIUBELLA = input("CHI é LA PIU BELLA?")
for inf in range(len(Ragazze)):
  if PIUBELLA == "Alice":
    print("é la più bella")
  else:
    print("NON è la più bella")

CHI é LA PIU BELLA?Alice
é la più bella
é la più bella
é la più bella