<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Strutture_Dati/blob/main/fila_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

caricare una lista con i primi 50 multiopli di 5

In [ ]:
multipli = [i for i in range (5,255,5)]
print(multipli)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

In [ ]:
multipli = [i * 5 for i in range (0,51)]
print(multipli)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

In [ ]:
multipli = [i for i in range (5,255) if i % 5 == 0]
print(multipli)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

elimanere dalla seconda lista tutti i valori  compresi fra 30 e 60+

In [ ]:
conta = 0
for num in multipli:
  if num >= 30 and num <= 60:
    multipli.remove(num)
    conta += 1
print(multipli)

[5, 10, 15, 20, 25, 50, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

caricare in una nuova lista i 5 elemnti centrali

In [ ]:
print(len(multipli))
print(multipli[len(multipli)//2-2 : len(multipli)//2+3])

44
[135, 140, 145, 150, 155]

In [ ]:
prodotti = [for num*10 in moltiplicazioni]
print(prodotti)

mettere in  una lista tutti  i valori prsenti in un unica lista