<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Strutture_Dati/blob/main/LISTE_esercizio_liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gli studenti di una classe si chiamano Luca, Carlo, Maria, Angela, Stefano e Davide e sono alti rispettivamente 1.80, 1.67, 1.75, 1.68, 1.81 e 1.78 m. Inoltre sappiamo che pesano 77, 48, 81, 55, 90 e 70 Kg

1. inserire i dati in strutture dati opportune
2. far inserire all'utente un nome e fornire il peso e l'altezza dello studente inserito
3. visualizzare il nome dello studente più alto
4. visualizzare il nome dello studente più magro
5. far inserire il nome di uno studente e calcolare il suo IMC
6. calcolare il peso medio degli studenti
7. visualizzare il numero di studenti
8. aggiungere lo studente Marco che pesa 76 Kg ed è alto 1.90
9. eliminare le informazioni riguardanti Maria

inserire i dati in strutture dati opportune

In [ ]:
nomi = ["Luca","Carlo","Maria","Angela","Stefano","Davide"]
altezza = [1.80, 1.67, 1.75, 1.68, 1.81,1.78]
peso = [77, 48, 81, 55, 90,70]

far inserire all'utente un nome e fornire il peso e l'altezza dello studente inserito

In [ ]:
nomeStudente = input("inserisci nome dello studente")
nomi.index(nomeStudente)
print(altezza[nomi.index(nomeStudente)])
print(peso[nomi.index(nomeStudente)])


visualizzare il nome dello studente più alto

In [ ]:

altezzaMassima = max(altezza)
print(altezzaMassima)
posizioneAltezzaMassima = altezza.index(altezzaMassima)
print(nomi[altezza.index(altezzaMassima)])

visualizzare il nome dello studente più magro

In [ ]:
pesoMinimo = min(peso)
print(pesoMinimo)
posizionePesoMinimo = peso.index(pesoMinimo)
print(nomi[peso.index(pesoMinimo)])

48
Carlo

far inserire il nome di uno studente e calcolare il suo IMC

In [ ]:
nomeStudente = input("inserisci nome dello studente:  ")
IMC = (peso[nomi.index(nomeStudente)]) / ((altezza[nomi.index(nomeStudente)]) *(altezza[nomi.index(nomeStudente)]))
print(IMC)

inserisci nome dello studente:  Carlo
17.21108680841909

calcolare il peso medio degli studenti

In [ ]:
from statistics import mean
print(mean(peso))

70.16666666666667

visualizzare il numero di studenti

In [ ]:
len(nomi)

6

In [ ]:
nomi.append("Marco")
altezza.append(1.90)
peso.append(76)
print(nomi)
print(altezza)
print(peso)

['Luca', 'Carlo', 'Maria', 'Angela', 'Stefano', 'Davide', 'Marco', 'Marco']
[1.8, 1.67, 1.75, 1.68, 1.81, 1.78, 1.9, 1.9]
[77, 48, 81, 55, 90, 70, 76, 76]

eliminare le informazioni riguardanti Maria

In [ ]:
posizioneMaria = nomi.index("Maria")
nomi.pop(posizioneMaria)
altezza.pop(posizioneMaria)
peso.pop(posizioneMaria)
print(nomi)
print(altezza)
print(peso)

['Luca', 'Carlo', 'Angela', 'Stefano', 'Davide']
[1.8, 1.67, 1.68, 1.81, 1.78]
[77, 48, 55, 90, 70]