<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Strutture_Dati/blob/main/TUPLE_INSIEMI_DIZIONARI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TUPLE**

una tupla è una struttura dati ordinata e non modificabile. Si forma con la parentesi tonda

In [ ]:
tupla1 = (1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

consentono valori duplicati, sono indicizzate infatti hanno un index (0)

non si posso aggiungere elementi dopo

In [ ]:
#per creare una tupla con un solo elemento,dopo esso ci va sempre la virgola
tupla2 = ("prova2",)
print(type(tupla2))
print(tupla2)
tupla2 =("prova")
print(type(tupla2))

<class 'tuple'>
('prova2',)
<class 'str'>

In [ ]:
#la tupla può contenere qualsiasi tipo di dato
tupla3 = ("ciao",0,40,"Milan",True,34.6)
print(tupla3)

('ciao', 0, 40, 'Milan', True, 34.6)

In [ ]:
#si puo creare una tupla con la funzione tupla()
tupla4 = tuple([10,"ciao"])
print(tupla4)

#trasformare una lista in una tupla
pluto =[1,4,5]
prova = tuple(pluto)
print(prova)

(10, 'ciao')
(1, 4, 5)

# *esercizi*

Generare 20 numeri interi casuali non uguali che varino da 1 a 100, poi insetrisci in una struttura dati adeguata che non sia modificabile

In [ ]:
import random
#per non avere doppioni
listaCasuale = tuple(random.sample(range(1,100),20))
print(type(listaCasuale))
print(listaCasuale)

<class 'tuple'>
(20, 35, 33, 42, 7, 67, 59, 66, 21, 98, 93, 71, 70, 46, 74, 32, 39, 61, 36, 41)

Aggiungere i primi 3 cognomi della classe in posizione 1 al precedente vettore

In [ ]:
 #non si puo fare

In [ ]:
#la ritrasformo in lista con la funzione list()
listaCasuale = list(listaCasuale)
listaCasuale[0:0] = ["avasiloae","bernasconi","cottone"]
print(listaCasuale)

['avasiloae', 'bernasconi', 'cottone', 20, 35, 33, 42, 7, 67, 59, 66, 21, 98, 93, 71, 70, 46, 74, 32, 39, 61, 36, 41]

#**INSIEMI**

gli insieme è un tipo di struttura dati dove gli elementi vengono inseriti usando una singola variabile

nono sono ordinati e non hanno un indice e non si posso inserire i duplicati

In [ ]:
insieme = {"inter","milan","sassuolo"}
print(insieme)

{'sassuolo', 'milan', 'inter'}

In [ ]:
#altro metodo per creare un insieme(ossrvando che gli elementi doppi non li scrive)
insieme2 = set((1,2,3,4,5,5))
print(insieme2)
print(type(insieme2))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#trovare la unghezza di un insieme
len(insieme2)

5

In [ ]:
#creare un insieme con numeri interi
insiemenumerico = {1,2,3,4,5}
prova = {i for i in range(10)}
print(insiemenumerico)
print(prova)

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#aggiungere gli elementi
insieme5 = {"ciao",9,39.0}
print(insieme5)
insieme5.add("francesco")
print(insieme5)

{'ciao', 9, 39.0}
{'ciao', 'francesco', 9, 39.0}

In [ ]:
#al primo insieme vengo aggiunti al sencondo insieme
insiem6 = {"paolo",78,9}
insieme7 = {"poli","ciaooo"}
insiem6.update(insieme7)
print(insiem6)

{'paolo', 'poli', 'ciaooo', 9, 78}

In [ ]:
#rimuiovere un elemento usando remove()
insieme8 = {"pippo", "pluto", "paperino", "topolino", "ronaldo", 45}
insieme8.remove("pippo")
print(insieme8)

{'paperino', 'pluto', 45, 'ronaldo', 'topolino'}

In [ ]:
#rimuovere un elemento usando discard()
insieme8.discard("pippo")
print(insieme8)

{'paperino', 'pluto', 45, 'ronaldo', 'topolino'}

In [ ]:
#rimuovere un elemento usando pop()
#questo metodo elimina un elemento a caso dell'insieme dato che non si può inserire un indice all'interno del metodo

x = insieme8.pop()
print(x)
print(insieme8)

In [ ]:
#svuotare completamente un insieme
insieme8.clear()
print(insieme8)

In [ ]:
#carcare in una lista 20 numeri casuali da 1 a 100 ed eliminare i duplicati

In [ ]:
import random
casuale = list(set([random.randint(1,100) for x in range(20)]))
print(casuale)

[1, 4, 7, 14, 21, 23, 26, 32, 34, 35, 38, 46, 52, 64, 66, 72, 74, 78, 90, 94]

In [ ]:
#creare un insieme misto
insiememisto = {2, "luca", "marco", 45, True}
print(insiememisto)

In [ ]:
insieme3 = {1, 2, 56, 1} #dentro questo insieme viene inserito solo un 1, dato che negli insiemi non possono essere inseriti duplicati
print(insieme3)

{56, 1, 2}

#Unire Gli INsiemi

In [ ]:
#metodo union
set1 = {1, 2, 3, 4, 5, 6,14}
set2 = {10, 20, 30, 40}
set4={12,13,14,15}
set3 = set1.union(set2,set4)
print(set3)

In [ ]:
#metodo update
set4 = {"vittoria", "carlotta", "alice"}
set5 = {100, 200, 300}
set4.update(set5)  #il metodo update aggiunge gli elementi di un insieme in un altro insieme
print(set4)

salvare solo gli elemnti duplicati in due insiemi

In [ ]:
#intersection_update: salva in un insieme gli elementi duplicati che ci sono in entrambi gli insiemi (rimuove gli elementi che non presenti in altri insiemi)
set6 = {"ciao", "buongiorno", "buonasera", "arrivederci"}
set7 = {"arrivederci", "buonasera", 6, 80}
set6.intersection_update(set7)
print(set6)

{'buonasera', 'arrivederci'}

In [ ]:
#intersection: crea e salva in un altro insieme gli elementi uguali in entrambi gli insiemi
set8 = set6.intersection(set7)
print(set8)

{'buonasera', 'arrivederci'}

salvare i valori non duplicati in due insiemi

In [ ]:
#symmetric_difference_update: salva in un insieme gli elementi non duplicati che ci sono in entrambi gli insiemi (inserisce gli elementi diversi da questo insieme e un altro ed elimina quelli comuni)
set9 = {"inter", "milan", "roma", "napoli"}
set10 = {"inter", "roma", 87, 123}
set9.symmetric_difference_update(set10)
print(set9)

In [ ]:
#symmetric_difference: crea e salva in un altro insieme gli elementi non duplicati che sono presenti in due insiemi
set9 = {"inter", "milan", "roma", "napoli"}
set10 = {"inter", "roma", 87, 123}
set11 = set9.symmetric_difference(set10)
print(set11)

{'milan', 87, 123, 'napoli'}

In [ ]:
#difference prende quello che cè nel primo insieme meno gli elemnti in comune del secondo insieme
milella = {"banana","kiwi","arancia"}
avasiloae = {"pere","uva","kiwi"}
fruttiMilella = milella.difference(avasiloae)
print(fruttiMilella)

{'banana', 'arancia'}

**ESERCIZI**

In [ ]:
#trovare i frutti che piacciono in comune
milella = {"banana","kiwi","arancia"}
avasiloae = {"pere","uva","kiwi"}
frutticomuni = milella.intersection(avasiloae)
print(frutticomuni)

{'kiwi'}

In [ ]:
#far vedere i futti che piacciono a tutti e due
tuttifrutti = milella.union(avasiloae)
print(tuttifrutti)

{'kiwi', 'banana', 'pere', 'uva', 'arancia'}

In [ ]:
#trovare tutti i frutti che piacciono a milella ma non piacciono a avasiloae
fruttiMilella = milella.difference(avasiloae)
print(fruttiMilella)

{'pere', 'banana', 'arancia', 'uva'}

In [ ]:
#aggiungere un frutto a milella
milella.add("ananas")
print(milella)

{'arancia', 'kiwi', 'banana', 'ananas'}

In [ ]:
#rimuovere il kiwi da milella
milella.remove("kiwi")
print(milella)

{'arancia', 'banana', 'ananas'}

In [ ]:
listaFrutta = ["uva","mela","kiwi","mela"]
print(listaFrutta)
#creare una lista non avendo doppioni quindi trasformarlo in un insieme
Frutta=set(listaFrutta)

['uva', 'mela', 'kiwi', 'mela']

In [ ]:
#trasformarlo in una lista
fruttalista=list(Frutta)
print(fruttalista)

In [ ]:
#trasfotrmarlo in una tupla
tuplafrutte=tuple(fruttalista)
print(tuplafrutte)

('kiwi', 'mela', 'uva')

In [ ]:
fruttatupleIntera= tuple(list(set(listaFrutta)))
print(fruttatupleIntera)

('kiwi', 'mela', 'uva')

In [ ]:
listaSquadreClasse = ["milan","inter","juve","napoli","milan","inter"]

In [ ]:
#squadre senza ripetizioni
squadresenzaripetizioni = list(set(listaSquadreClasse))
print(squadresenzaripetizioni)

['milan', 'inter', 'juve', 'napoli']

In [ ]:
studentimilan = {"darienzo","bernasconi","geremicca"}
studentiinter = {"milella","lotorto","geremicca"}

In [ ]:
studenti = studentimilan.union(studentiinter)
print(studenti)
len(studenti)

{'lotorto', 'darienzo', 'bernasconi', 'geremicca', 'milella'}

5

In [ ]:
#studenti che tengo tutte e due le squadre
stduentitifosididuesquadre = studenti.intersection(studentiinter) 
print(stduentitifosididuesquadre)

{'lotorto', 'geremicca', 'milella'}

In [ ]:
#studenti che non tifano il milan
studentichetifanosolointer = studentiinter.difference(studentimilan)
print(studentichetifanosolointer)

{'lotorto', 'milella'}

# **DIZIONARI**

In [ ]:
#ogni elemento puo essere legato a piu elementi

dizionario = {
    "genere":"maschio",
    "età":15,
    "altezza":200,

}
print(dizionario)

{'genere': 'maschio', 'età': 15, 'altezza': 200}

In [ ]:
itaToIng = {
    "scarpa":"shoes",
    "ciao":"hello",
    "sciarpa":"scarf",

}
print(itaToIng)

{'scarpa': 'shoes', 'ciao': 'hello', 'sciarpa': 'scarf'}